Source: libcmath
Standards-Version: 2.0.0
Section: libs
Priority: optional
Maintainer: Atlas Yu <atlas.yu@canonical.com>
Build-Depends: debhelper-compat (= 13)

Package: libcmath
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends} libirmath (>= 2)
Description: DPA(Debian policy adventure): math library built from C source code, shared object(s), now is fully replaced by libirmath.
