Source: libcmath
Standards-Version: 1.0.2
Section: libs
Priority: optional
Maintainer: Atlas Yu <atlas.yu@canonical.com>
Build-Depends: gcc (>= 4:11), make (>= 4.3), debhelper-compat (= 13)

Package: libcmath
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: DPA(Debian policy adventure): math library built from C source code, shared object(s).
Conflicts: libirmath
